# Node (client & server)
**/node_modules
**/dist
**/build

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
**/.env
**/.env.*.local

# OS system files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode
.idea
*.sublime-workspace
*.sublime-project

# TypeScript cache
**/*.tsbuildinfo

# Coverage reports
**/coverage
**/.nyc_output

# Local data, output
**/logs
**/tmp
**/pids
**/.cache

# Vite/Next.js cache
**/.next
**/.vite
**/.turbo

# ESLint, Prettier
.eslintcache

# Docker
**/docker-compose.override.yml
**/Dockerfile.local

# Misc
*.tgz
*.bak
*.orig
*.swp
